<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <my-component v-bind:my-info="message" inline-template> <!-- inline템플릿은나머지 컴포넌트 정의에서 템플릿을 분리한다.-->
      <div>
          <p>
            inline-template - {{myInfo}}
          </p>
      </div>
    </my-component>
  </div>
  <script>
  const MyComponent = {
    props: ['myInfo']
  };
  new Vue({
      el: '#app',
      components: {'my-component': MyComponent},
      data() {
        return {
          message: '안녕'
        }
      }
  });
  </script>
</body>
</html>